asn1crypto==0.24.0
chainer==4.0.0
cryptography==2.1.4
enum34==1.1.6
filelock==3.0.12
gyp==0.1
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
numpy==1.16.6
protobuf==3.17.3
pycrypto==2.6.1
pygobject==3.26.1
pyOpenSSL==17.5.0
pyxdg==0.25
SecretStorage==2.3.1
six==1.16.0
virtualenv==15.1.0